.house {
    padding: 25px;
    border: 1px solid #e8e8e8;
    width: 350px;
    cursor: pointer;

    h4 {
        margin: 0;
        font-size: 25px;
    }

    .house-img {
        height: 200px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .description {
        max-width: 100%;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
        color: #636363;
    }

    .specifications {
        display: flex;
        align-items: center;

        .area {
            display: flex;
            align-items: center;
            padding-right: 50px;
        
            .area-icon {
                width: 14px;
                height: 14px;
                padding-right: 5px;
            }

            .area-text {
                position: relative;
                top: -2px;
            }
        }
    }

    &:hover {
        border-color: black;
    }
}